.channel{
	border:solid 1px red;
	padding:5px 15px !important;
	margin-top:5px;
}

.channel>button{
	float:right;
}

[data-channelState='mute']{
	background-color: red;
}

[data-channelState='active']{
	background-color: #9EE09A;
}