.channel{
	font-size:1.3 em;
	font-weight: bold;
	border:solid 1px red;
	padding:25px 15px !important;
	margin-top:5px;

}

.channel>button{
	float:right;
}

[data-channelState='mute']{
	background-color: red;
}

[data-channelState='active']{
	background-color: #9EE09A;
}

[data-channelPlaying='noteOn']{
	background-color: white !important;
	color: green;
}

.dataProgressBar{
	color: black !important;
	font-weight: bold;
}

.Nota{
	font-size:2em;
	text-align: center;
	margin-bottom: 5px;
}

[data-noteState='active']{
	color: red;
	font-weight: bold;
	transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
}

.well,.progress{
	box-shadow: 5px 5px 5px grey;
}

.progress{
	border:solid 1px grey;
}

.volumen{
	font-size:1.5em;
	font-weight: bold;
}